#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
}

input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;

}

button:hover {
  background-color: #0056b3;
}

li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

li span {
  flex: 1;
  text-align: left;
}

li button {
  background: none;
  color: red;
  font-size: 20px;
}

li button:hover {
  background: none;
  color: rgb(176, 0, 0);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
